:root {
    --background: #E6F2FF; /* Bleu clair pour l'arrière-plan */
    --background-element: rgba(230, 242, 255, 0.7); /* Bleu très clair avec transparence */
    --background-solid: rgba(230, 242, 255, 0.9); /* Bleu très clair solide avec transparence */
    --hovered-element: rgba(0, 123, 255, 0.2); /* Effet de survol bleu */
    --high-contrast-text: #000080; /* Texte bleu marine */
    --accent-color: #0000FF; /* Bleu */
    --font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    color: var(--high-contrast-text);
}

header {
    height: 4.5em;
    background-color: var(--background-solid);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    backdrop-filter: blur(10px); /* Blur effect */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    width: 64px;
    height: 64px;
}

.logo svg:hover {
    animation: rotateCube 2s infinite linear; /* Animation for rotating the cube */
}

@keyframes rotateCube {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(100%);
    }
}

.links {
    width: 40%;  /* Réduit la largeur */
    margin-left: 0;  /* Enlève l'espace à gauche */
}

/* Modifier l'alignement des éléments à gauche */
.links ul {
    display: flex;
    justify-content: flex-start;  /* Aligne les éléments à gauche */
    padding: 0;  /* Évite un éventuel padding par défaut */
    margin: 0;  /* Évite un éventuel margin par défaut */
}

/* Espacement entre les éléments */
.links li {
    list-style-type: none;
    margin-right: 1em; /* Ajouter de l'espacement si nécessaire */
}

.links a {
    text-decoration: none;
    font-size: 16px;  /* Taille plus petite */
    color: var(--high-contrast-text);
    cursor: pointer;
    position: relative;
    padding: 0.4em 0.6em; /* Moins de padding */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.links a:hover {
    background-color: var(--hovered-element);
    color: var(--accent-color);
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    backdrop-filter: blur(10px);
}

.intro-content {
    text-align: center;
    backdrop-filter: blur(20px);
    padding: 2em;
    border-radius: 20px;
    background-color: var(--background-element);
}

.skills, .projects, .contact, .documents{
    padding: 4em 2em;
    text-align: center;
    background-color: var(--background);
    margin: 2em auto;
    width: 90%;
    position: relative;
    top: 5em; /* Offset for the fixed header */
}

.title {
    padding-top: 0.7em;
    font-size: 32px;
    color: var(--accent-color);
    margin-bottom: 1em;
}

.description {
    font-size: 24px;
    color: var(--high-contrast-text);
    margin-bottom: 2em;
}

.enter-button {
    padding: 1em 2em;
    font-size: 24px;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(5px); /* Blur effect on button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.enter-button:hover {
    background-color: var(--hovered-element);
    color: var(--accent-color); /* Blue text on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding-top: 1em;
}

.project {
    background-color: var(--background-element);
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.project a {
    color: var(--high-contrast-text);
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.project img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Maximum height for project images */
    border-radius: 20px;
    margin-bottom: 1em;
    object-fit: contain; /* Ensures the image is fully visible */
}

.project span {
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-element); /* Main panel color for background */
    backdrop-filter: blur(5px); /* Blur effect on text */
    color: var(--high-contrast-text);
    padding: 0.5em;
    border-radius: 10px;
}

.project:hover {
    background-color: var(--hovered-element);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    color: var(--accent-color);
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.github-link {
    font-size: 24px;
    color: var(--high-contrast-text);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 1em 2em;
    border-radius: 20px;
    background-color: var(--background-element);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(5px);
}

.github-link:hover {
    background-color: var(--hovered-element);
    color: var(--accent-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.github-link i {
    margin-right: 10px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}


.skills {
    text-align: center;
    padding: 20px;
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.logos-slide {
    display: flex;
    animation: scroll 10s linear infinite;
}

.logos-slide img {
    width: 80px;
    height: auto;
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-140%);
    }
}


.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.three-columns-grid > * {
    padding:1rem;
}

.download-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.download-button:hover {
    background-color: #0056b3;
}

.separator{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         50px;
    width:          1px;       
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sepa_lien{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#list-experiences li {
    margin-bottom: 20px;  /* Espacement entre chaque expérience */
    margin-top: 20px;
}
#experiences{
    margin-top: 50px;
}

a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Hérite de la couleur du texte parent */
    cursor: pointer; /* Affiche le curseur en mode clic */
}

a:hover .btn-toggle {
    color: #00BFFF; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition pour un effet fluide */
}

.btn-toggle {
    font-size: 16px; /* Ajustez selon votre besoin */
    font-weight: bold; /* Met le texte en gras */
    transition: transform 0.3s ease; /* Effet fluide */
}

.btn-toggle:hover {
    transform: scale(1.1); /* Augmente légèrement la taille */
}

ul {
    list-style-type: none; /* Supprime les puces ou tirets */
    padding: 0; /* Retire les marges internes */
    margin: 0; /* Retire les marges externes */
}

li {
    padding-left: 10px; /* Ajoute un espacement pour un effet visuel équilibré */
}
.projects .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les colonnes */
}


.subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.details{
    margin-top: 20px;
}
.projects .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les colonnes */
}

.projects .column {
    flex: 1; /* Les colonnes prennent un espace égal */
    min-width: 300px; /* Largeur minimale pour chaque colonne */
    padding: 20px; /* Espacement interne pour le contenu */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    background-color: #fff; /* Fond blanc pour la card */
    border: 2px solid #ddd; /* Bordure grise */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
    transition: transform 0.2s, box-shadow 0.2s; /* Transition pour effet au survol */
}

/* Effet au survol */
.projects .column:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}

/* Titre des sections dans les cards */
.projects .subtitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    color: var(--accent-color); /* Couleur du texte */
    border-bottom: 2px solid #ddd; /* Ligne sous le titre */
    padding-bottom: 5px; /* Espacement avec le texte */
}

/* Espacement pour les paragraphes */
.projects .column p,
.projects .column ul {
    margin-top: 10px;
    line-height: 1.6;
}

.button-container {
    justify-content: space-evenly;
    margin-top: 50px;
    display: flex;
    gap: 20px; /* Espacement entre chaque groupe (image + bouton) */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Aligne les images et boutons verticalement */
}

.button-with-image {
    display: flex;
    align-items: center; /* Aligne l'image et le bouton verticalement */
    gap: 10px; /* Espacement entre l'image et le bouton */
}

.download-button {
    padding: 10px 20px; /* Espacement interne */
    border: 2px solid #007BFF; /* Bordure bleue */
    border-radius: 8px; /* Coins arrondis */
    background-color: #fff; /* Fond blanc */
    color: #007BFF; /* Couleur du texte */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: #007BFF; /* Fond bleu au survol */
    color: #fff; /* Texte blanc au survol */
}

.button-with-image img {
    width: 30px; /* Largeur de l'image */
    height: 30px; /* Hauteur de l'image */
    object-fit: contain; /* Maintient les proportions de l'image */
}

.color_h{
    color: #000080;
}

#aboutColumn {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#aboutMeButton {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

#aboutMeButton:hover {
    background-color: #0056b3;
}

#aboutMeContent {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}

#aboutMeContent.visible {
    display: block;
}


/* Conteneur général */
#parcours ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
    border: 1px solid #ddd; /* Bordure autour de la liste */
    border-radius: 5px;
    background-color: #f9f9f9; /* Fond doux */
    margin-bottom: 20px; /* Espacement entre les listes */
}

/* Élément individuel de la liste */
#parcours ul li {
    padding: 10px 15px; /* Espace autour du texte */
    border-bottom: 1px solid #ddd; /* Ligne séparatrice */
}

/* Supprime la bordure pour le dernier élément */
#parcours ul li:last-child {
    border-bottom: none;
}

/* Bouton pour afficher les détails */
.about-me-button, .btn-toggle {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.about-me-button:hover, .btn-toggle:hover {
    background-color: #0056b3;
}

.details,
.about-me-content {
    margin-top: 15px; /* Ajoute un écart entre le bouton et le conteneur des détails */
}

/* Contenu masqué par défaut */
.hidden {
    display: none;
}

/* Contenu affiché */
.visible {
    display: block;
}