body {
    font-family: Arial, sans-serif;
    background-color: #0b3d91; /* Bleu foncé */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Ajout de padding-bottom pour créer de l'espace au-dessus du footer */
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #e6f7ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e6f7ff;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #1e90ff;
    margin-right: 50%;
    border-radius: 10px;
}

footer {
background-color: #0b3d91; /* Bleu foncé */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container2 {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c86ee;
}
p{
    color: #fff;
}