
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b3d91; /* Bleu foncé */
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


header .back-arrow {
    position: absolute;      /* Positionnement absolu */
    left: -50px;              /* Décalage de la flèche vers la gauche */
    font-size: 50px;         /* Taille de la flèche */
    text-decoration: none;   /* Enlever le soulignement du lien */
    color: inherit;          /* Garder la couleur du texte */

}

/* Titre centré */
header h1 {
    margin: 0;               /* Enlever les marges par défaut */
    font-size: 24px;         /* Ajuste la taille du titre si nécessaire */
    text-align: center;      /* Centrer le texte */
}

header {
    display: flex;
    justify-content: center;  /* Centrer le titre */
    align-items: center;      /* Aligner verticalement */
    position: relative;       /* Pour positionner la flèche de manière absolue */
    height: 60px;             /* Ajuste la hauteur du header si nécessaire */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b3d91; /* Bleu foncé */
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c86ee;
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ffffff33;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
